/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

:root {
    --main-color: #75d4e7;
    --font-family: 'Encode Sans Expanded', sans-serif;
}

body {
    font-family: var(--font-family) !important;
}



.bg-main {
    background-color: var(--main-color) !important;
}



.navbar-nav .nav-link.active{
    background-color: #75d4e7;
    border-radius: 5px;
    color:black !important; 

}
